@import '../../abstracts/variables';

.listMenu {
    margin-bottom: 30px;
    color: $white;

    h2 {
        font-size: 22px;
        margin-bottom: 5px;
        padding-left: 40px;
    }

    ul {
        li {
            margin-bottom: 8px;
            padding: 0 40px;
            cursor: pointer;
            position: relative;
            transition: 100ms all ease;
        }
    }
}

.active {
    color: $red;
    font-weight: 700;

    &:before {
        display: block;
        content: '';
        width: 5px;
        left: 0;
        position: absolute;
        height: 20px;
        top: 0;
        background-color: $red;
    }
}
