@import '../../abstracts/variables';

.player {
    background-color: $red;
    position: fixed;
    bottom: 0;
    height: 100px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding-right: 32px;

    audio {
        display: none;
        position: absolute;
    }
}

.details {
    display: flex;
    align-items: center;

    &__image {
        max-width: 100px;

        img {
            display: block;
            width: 100%;
        }
    }

    &__text {
        padding-left: 20px;
        color: $white;

        p {
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 350px;
        }

        span {
            font-size: 12px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 300px;
        }
    }
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -74px;
    margin-top: -30px;

    button {
        cursor: pointer;
        color: $white;
        background-color: transparent;

        svg {
            font-size: 20px;
        }
    }

    &__play {
        background-color: $red-light !important;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 25px;
    }
}

.volumeWrap {
    display: flex;
    align-items: center;

    &__control {
        width: 100px;
        margin-right: 40px;
    }

    &__meter {
        height: 6px;
    }

    &__icon {
        width: 36px;

        svg {
            font-size: 32px;
            color: $white;
        }
    }
}
